/* Global for booking  */
.booking-container{
  /* background-color: white; */
  /* background-color:#d5c0bf; */
  background-color: white;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.booking-container h1{
  font-size: 1.4em;
  text-align: center;
  color:blue;
}
.booking-container h2{
  font-size: 1.2em;
  color:blue;
  /* margin-bottom: 1vh; */
text-align: center;
  
}


.booking-container p{
  font-size: 1em;
  /* margin-bottom: 0.8vh; */
  /* text-align: left; */
  /* padding: auto 1vw; */
}
.wheremoving-form  input,select{
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipsis;
}
.choosetime select{
  /* background-color: pink; */
 /* height: 5em;
 font-size: large; */
 
}

.movingdate input{
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 3px 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipsis;
  
}
/* this is end of Global */
/* start Popup Booking Van Size guide*/
.popup {
  padding-top: 20px;
  margin: 0 auto;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 150, 150);
  opacity: 0.9;
  z-index: 1;
}

.popupactive {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  gap: 2em;
  overflow-y: auto;
  background-color: #ccc;
  top: 2em;
}

.popupactive h1 {
  text-align: center;
  max-width: 90%;
}

.popup-content {
  display: flex;
  flex-direction: row;
  
  gap: 3em;
  color: #111;
  background-color: aliceblue;
margin:5vw;
}

.popuptext p {
  padding: 2em 0;
}

.popuptext h2 {
  text-align: center;
  width: auto;
}

.popup-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-image img {
  max-width: 12em;
  max-height: 12em;
}

.closepopup {
  position: absolute;
  top: 2em;
  right: 5em;
  cursor: pointer;
  transition: transform 0.3s;
}

.closepopup:hover {
  transform: rotate(180deg);
}
/* end of popup vansizeguide */
/* Floating Book */

.floatingbook::before {
  content: '🎉 Surprise! Booking Summary';
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}
.floatingbook {
  background-color: rgba(163, 163, 223, 0.9);
  position: fixed;
  height: 90%;
  top: 2vh;
  overflow: scroll;
  box-sizing: border-box;
  border: 2px solid #4a4a4a;
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.3s;
  z-index: 2;
}


.floatingbook:hover {
  background-color: rgb(133, 133, 193);
}

.floatingbook header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}
.floatingbook>header>button{
  display: relative;
  top:0;
}

.floattime {
  text-decoration: underline;
  font-size: 1.2em;
}

.floatingcontent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 10vw;
}

.floatingpickup,
.floatingviastop,
.floatingdelivery {
  display: flex;
  flex-direction: column;
}

.floatingpickup p,
.floatingviastop p,
.floatingdelivery p {
  margin-bottom: 0.5em;
}

.info-label,
.info-value {
  display: block;
}

.info-label {
  font-weight: bold;
}

.floatingshowmore {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vh;
  cursor: pointer;
}

.floatingshowmore:hover {
  font-weight: bold;
}

/* .floatingmorecontainer {
  margin-left: 10vw;
} */

.floatingviastopmore,
.floatingdescription {
  margin-bottom: 2vh;
  
}



.floatingtotal {
  font-size: 1.6em;
  text-align: center;
}

.floatingtotal .total-price {
  font-weight: bold;
}

.floatbutton {
  text-align: center;
}

.floatbutton button {
  margin-left: 1vw;
}
/* this is end of floating */

/* start General mix all  */
.booking-header,
/* .choosevansize, */
.booking-vansize,
.booking-helper,
.loading-header,
.loading-image,
.wheremoving-header,
.wheremoving-form,
.canitravel,
.mileandhour,
.choosetime,
.movingdate,
.aboutyou ,
.aboutyou-info
 {
margin:5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: left; */
  gap: 1vw;
  /* background-color:#d5c0bf; */
  /* background-color: gray; */
  background-color: #eee;
  width: 80vw;
  padding:1em;
  border-radius: 10%;
}


/* end of general mix all */

/* start booking-header */
.booking-header button{
  align-self: flex-end;
}

/* end booking-header */

/* startboth radio vansize and helper */
.booking-vansize,
.loading-image{
  justify-content: center;
  gap:5vw;
}
/* .booking-vansize{
  gap:5vw;
} */
/* end radio vansize and helper */

.radio-container {
  display: flex;
  position: relative;
  flex-direction: column; /* Display items in a column */
  justify-content: center;
  text-align: center;
  gap:10vw;
  border: 5px solid goldenrod;
  width: 15vw;
  background-size: cover;
  background-position: center; 
  border-radius: 10%;
  
}
.radio-container p{
  text-align: center;
}

.radio-image-container img{
width: 100%;
}
 .active-radio{
  padding:2vw;
  background-color:#d5c0bf;
}
.readiodisplay{
  font-size: 0.2em;
  font-weight: bold;
  
}





/* Where Moving Form */


.wheremoving-form {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* margin: 5vh;  */
  justify-content: center;
  /* background-color:pink; */
  background-color: gray;
   /* padding:3em; */
  /* min-width: 90vw; */
  }
  /* .wheremoving-form-title */
  
 .wheremoving-form-title{
  display: flex;
  justify-content: center;
 }
 .wheremoving-form-warning{
  display: flex;
  justify-content: center;
  color:red;
  font-weight: bold;
 }
.collection,
.destination,
.viastopinput
{
  display: flex;
  flex-direction: row;
  gap:2vw;
  justify-content: center;
  min-width: 80%;
  background-color: #ccc;
  border:4px solid #111;
  padding-bottom: 2vh;
  /* margin:5vw; */
  
}
.collection div,
.destination div,
.viastopinput div
{
  display: grid;
  grid-template-rows: min-content 1fr;
  gap:1vh;
}
.collection h2{
  padding:0;
  margin:0;
}
.collection div select, 
.collection div label,
.collection div input,
.destination div select, 
.destination div label,
.destination div input,
.viastopinput div select, 
.viastopinput div label,
.viastopinput div input
{
width:80%;
height: auto;
text-align: center;
margin:0 auto;
padding:1em;


}
.collection div select,
.collection div input,
.destination div select,
.destination div input,
.viastopinput div select,
.viastopinput div input
{
  border: 3px solid black;
  border-radius: 5%;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  margin-top: 4vh;
  padding:0;
}
.remove-via{
  padding: 1em;
  background-color: yellow;
  cursor: pointer;
}
/* where moving form end */
/* start estimate how many hour */
.estimatediv{
  text-align: center;
}
.estimatediv ul{
  display: grid;
  grid-template-columns:repeat(3,auto);
  gap: 1em;
  background-color:azure;
  padding: 1em;
  max-width: 90%;
  border-radius: 10%;
  margin:1em;

}
.estimatediv li{
  list-style: none;
}
/* end estimate how many hour */

/* choose time start */

.choosetime {
  background-color: azure;
  padding: 1em;
  margin: 1em;
  max-width: 90%;
}

.choosetime label  {
  margin-right: 3vw;
}
.choosetime select{
  max-width: 50%;
}
/* date picker */



/* choose time end */

/* start moving date */

.movingdate-description {
  /* display: flex;
  flex-direction: column;
  align-items: left;
  position: relative; */
  margin-left: 5vw;
}

.datepicker{
  box-sizing: border-box;
  width: 50vw;
}
.movingdate-description  textarea {
  width: 50vw;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 10%;
}

/* end moving date */
/* aboutyou start*/
.aboutyousubdiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
/* about you end */


@media (max-width:1000px){
  .floatingbook{
    font-size: 0.7em;
  }
  .floatingcontent{
    margin-left: 0;
  }
.popup-content {
  display: flex;
  flex-direction: column;

}
.estimatediv ul{
  /* display: grid;
  grid-template-columns:repeat(3,auto); */
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color:azure;
  padding: 10px;
  max-width: 90%;
  /* justify-content: center; */
  
}
.aboutyou-info{
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  justify-content: center;
}
.radio-container {
  flex: 0 0 35%; /*This is to get 2 vs 2 */
  max-width: 35%;
}

/* formdata */
.collection,.destination,.viastopinput{
  flex-direction: column;
 
}
}
/* Styles for smaller screens */

@media (max-width:600px) {
  .readiodisplay{
   display: none;
  }
  /* floating booking */
  .floatingbook{
    height: 90%;
    top:5vh;
  }
  .floatingcontent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border:1px solid black;
    gap:0;
    /* margin:2vw; */
  
  }
  .floatingpickup,
  .floatingviastop,
  .floatingdropof,
  .floatingworker,
  .floatingvansize,
  .floatinghourNeed
  {
    border: 1px solid rgb(58, 38, 211);

  }

}