/*Home welcome section */

.mapcontainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background: #f7f7f7;  */
  position: relative;
  text-align: center;
  /* overflow: hidden; */
}

.mapcontainer img {
width: 80vw;
height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the form */
.quotesearch {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; 
}

.forminput {
  padding: 10px;
  width: 20vw;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputbetween {
  font-size: 1em;
  margin: 0 10px;
  color: gold; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button a{
  text-decoration: none;
}

.mainimageheader.textimage {
  position: absolute;
  top:10%;
  font-size: 2em;
  animation: bounceAndColorChange 2s infinite alternate;
}

@keyframes bounceAndColorChange {
  0% {
    transform: translateY(0);
    color: gold;
  }
  50% {
    transform: translateY(-10px);
    color: red;
  }
  100% {
    transform: translateY(0);
    color: gold;
  }
}

.mainimageheader, .secondimageheader {
  font-size: 24px;
  color: gold; 
  margin: 20px 0;
}

button .recallquote {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  transform: scale(1.4);
}


.review-cards{
  padding-top: 5vh;
  width:60vw;
  margin:0 auto;
}
.review-card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888;
  margin-bottom: 2vh;
  border-radius: 3%;


}
.review-cards p{
  width:50vw;
  line-height: 4vh;
}
.review-cards h3{
  padding-top: 1vh;
}

/* how it work */
.howitwork{
  width: 100vw;
}
.howitwork h1{
 text-align: center;
}
.howitworkcards{
  width:90vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin:0 auto;
/* display: flex;
flex-direction: row; */
/* grid-template-columns:repeat(auto-fit, minmax(10vw, 1fr)); */
/* justify-content: center;
flex: 1;
align-items: center; */
}
.howitworkcard{
 /* padding:2em; */
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.howitworkdescription{
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  padding-left:10px;
  /* padding:1em; */

  }
  .howitworkdescription p{
    width:10vw;
   align-items: left;
  }
  @media screen {
    
  }