/*Home welcome section */
.mapcontainer{
  width:100vw;
  height: 80vh;
  padding:0;
  margin:0;
  position: relative;
}
.mapcontainer img{
  width: 99vw;
  height: 80vh;
}
.quotesearch{
  position:absolute;
  top:30%;
  left: 20%;
 
}
.textimage{
  color:gold;
}
.mainimageheader{
  position: absolute;
  top:10%;
  left:22%;
  font-size: 3em;
 
}
.secondimageheader{
  position: absolute;
 top:200%;
  left:10%;
}

form input{
  width:15vw;
  padding: 13px;
  border: 3px solid #333;
  border-radius: 5%;
  font-size: 1em;
  font-weight: bold;
  background-color: #CCC;
}
form .inputbetween{
  margin: 0 3vw;
}
form button,button{
  width: 10vw;
  padding:13px;
  font-size: 1em;
  margin:0 auto;
  background-color:#d5c0bf;
  border-radius: 10%;
}
.formsearch button:hover, button:hover{
  background-color:burlywood;
}
/* review section */

.review-cards{
  padding-top: 5vh;
  width:80vw;
  margin:0 auto;
}
.review-card{
  /* padding-top: 3vh;
  width: 70vw;
  margin:0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888;
  margin-bottom: 2vh;

}
.review-cards p{
  width:70vw;
}
.review-cards h3{
  padding-top: 1vh;
}