.manandvanlocation{
width: 80vw;
height: auto;
margin:0 auto;
display: grid;
grid-template-columns:repeat(3,1fr);


}
@media(max-width:900px){
  .manandvanlocation{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:400px) {
  .manandvanlocation{
    display: flex;
    flex-direction: column;
    justify-content: center;
   


  }
  
}