/* styles.css */

/* Default styles for larger screens */
.navbar {
  background-color:lightgray;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  background-color: #777;

}
nav a{
  text-decoration: none;
  margin-right: 5vw;
  font-size: 1.3em;
  transition: background-color 0.3s ease;
}
nav a.active{
  text-decoration: underline;
  background-color: #111;
}
.toggle-btn {
  cursor: pointer;
  font-size: 40px;
  display: none; /* Initially hide the label on larger screens */
}

/* Styles for the mobile menu */
.navbar-toggle {
  display: none; /* Initially hide the checkbox on larger screens */
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .toggle-btn{
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: stretch; /* Ensure items stretch to full width */
  }
  .navbar-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  img {
    width: 100%; /* Make the image take up 100% width */
    max-width: 200px; /* Set a maximum width for the image */
    margin-bottom: 10px; /* Add some spacing between the image and links */
  }

  .nav-link {
    margin: 5px 0;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
.navbar .close{
  display: none;
}
}
