.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vw;
  background-color:#d5c0bf;
  color: #fff;
  width: 100vw;
  height: 25vh;
  margin: 0 auto;
}
.navbar-left{
  width:15%;
 }
.logo img{
  width:100%;
  height:100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:60%;
}
.top-section{
 margin: 0 auto;
  margin-bottom: 15px;
  font-size:1.3em;
  border-radius:50%;
  border:5px solid rgb(102, 68, 68);
  padding:15px;
  background-color:rgb(136, 136, 188);
  /* margin-right:15vw; */
}
.top-section:hover{
  background-color: burlywood;
  border: 5px solid red;
}
.bottom-section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 /* padding-top: 5vh; */
  margin:0;
  
}
.bottom-section a {
  text-decoration: none;
  color:#333;
   flex:1;
   text-align: center;
   font-weight: bolder;
}

.bottom-section a.active{
  color:rgb(90, 90, 153);
}

.recallquote{
  position:absolute;
  right:50%;
  top:350%;
}

