.navbar {
  background-color:#d5c0bf;
  /* background-color: red; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  padding:0;
  margin:0;
}

/* Style the left part of the navbar */
/* .navbar-left {
  flex: 1 1 auto; 
} */

/* Style the logo inside the left part of the navbar */
.logo img {
  width: 20vw;
  height:auto;
  max-width: 100%;
}


/* Style the right part of the navbar */
.navbar-right {
  display: flex;
  flex-shrink: 0;
  gap:0;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-right: 5vw;
  font-size: 1.3em;
  transition: background-color 0.3s ease;
}
.navbar-right a.active{
  text-decoration: underline;
  background-color: #111;
}

.navbar-right a:hover {
  background-color: #777;
}
.toggle-btn{
  display: none;
}
#navbar-toggle {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
@media (max-width:900px) {
  .navbar-right a{
    font-size: 1em;
  }
}
@media (max-width:600px) {
  /* .navbar-right a{
    font-size: .8em;
  } */
.navbar-right{
  display: none;
  flex-direction: row;
  align-items: center;
  position:absolute;
  /* top:5vh; */

  right:10px;
  /* width: 100%; */
  z-index: 1001;
  gap:1vw;
  font-size: 1.5em;
  transform: translateY(0); /* Initial position */


}
.toggle-btn{
  display: flex;
  font-size: 3em;
  cursor: pointer;
  z-index: 1002;
  /* flex-direction: ; */
}
/* .navbar-right .open{
  display: flex;
  
} */
.navbar-right a{
  font-size: 0.5em;
}
#navbar-toggle:checked + .toggle-btn + .navbar-right  {
  display: flex;
  /* flex-direction: column; */
  transform: translateY(0); /* Move to visible position */

}
}