.login-container,.register-container{
  width: 50vw;
  height: auto;
  margin:20px auto;
  text-align: center;
  /* border: 1px solid gold; */
  padding:20px;
}
.login-container input, .login-button,.register-button{
  margin: 10px auto;
}
.account-button{
  display: flex;
}
.register-form-error{
  font-size: 1em;
  color: red;
}
/* admindashboard */
.admin-dashboard{
width: 80vw;
margin:2vh auto;
border: 1px solid black;
}
.admin-dashboard-topbar{
  display: flex;
justify-content: flex-end;
gap:20px;
}
